<div class="container">

  <h2 class="section-title">What They Say</h2>

  <div class="screen">
    <div class="thought">
      <div class="name">{{show.name}}</div>
      <div class="position">{{show.position}}</div>

      {{show.thought}}
    </div>

    <div class="photo"><img src={{show.thumbThought}} alt="Photo"></div>
  </div>

  <div class="slider">
    <div class="btn-prev">
      <button class="btn-floating btn-small" {{action "prev"}}>{{icon "chevron_left"}}</button>
    </div>

    <div class="btn-next">
      <button class="btn-floating btn-small" {{action "next"}}>{{icon "chevron_right"}}</button>
    </div>
  </div>

</div>
