<div class="container">

  <h2 class="section-title">What They Say</h2>

  <div class="screen">
    <div class="thought">
      <div class="name">{{showModel.name}}</div>
      <div class="position">{{showModel.position}}</div>

      {{showModel.thought}}
    </div>

    <div class="photo"><img src={{showModel.thumbThought}} alt="Photo"></div>
  </div>

  <div class="slider">
    <div class="left mr-6">
      <button class="btn-floating btn-small" {{action "moveToPrev"}}>{{icon "chevron_left"}}</button>
    </div>

    <div class="left">
      <button class="btn-floating btn-small" {{action "moveToNext"}}>{{icon "chevron_right"}}</button>
    </div>
  </div>

</div>

{{!-- <br><br><br><br><br><br><br><br><br><br> --}}

<span class="background d-none">
  <div class="container">
    <div class="row">
      <div class="section-title">What They Say</div>
        <div class="container-slider-name">
          <div class="name-content">{{showModel.name}}</div>
        </div>
        <div class="container-slider-position">
          <div class="position-content">{{showModel.position}}</div>
        </div>
        <div class="container-slider-textbox">
          <div class="textbox-content">
          {{showModel.thought}}.
          </div>
        </div>
        <div class="container-slider-image">
          <img src="{{showModel.thumbThought}}" alt="">
        </div>
      {{!-- <div class="slider container-slider-name">
        <ul class="slides">
          <li>
            <div class="content">Elvin</div>
          </li>
          <li>
            <div class="content">Vito</div>
          </li>
        </ul>
      </div>
      <div class="slider container-slider-position">
        <ul class="slides">
          <li>
            <div class="title-content">INTERN</div>
          </li>
          <li>
            <div class="title-content">EMPLOYEE</div>
          </li>
        </ul>
      </div>
      <div class="slider container-slider-textbox">
        <ul class="slides">
          <li> --}}
            {{!-- <span class="title-content">INTERN</span> --}}
            {{!-- <div class="slider-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </li>
          <li>
            <div class="slider-content">
              Lorem ipsum dolor sit amet
            </div>
          </li>
        </ul>
      </div>
      <div class="slider container-slider-image">
        <ul class="slides">
          <li>
            <img src="assets/images/z.jpg" alt="">
          </li>
          <li>
            <img src="assets/images/z2.jpg" alt="">
          </li>
        </ul>
      </div> --}}
      <div class="container-indicator">
        <div class="left hide-on-small-only">
          <button class="waves-effect waves-black content-indicator icon-left" {{action "moveToPrev"}}><i class="material-icons icon-style">chevron_left</i></button>
        </div>

        <div class="right hide-on-small-only">
          <button class="waves-effect waves-black content-indicator icon-right" {{action "moveToNext"}}><i class="material-icons icon-style">chevron_right</i></button>
        </div>
      </div>
    </div>
  </div>
</span>

{{!-- <span class="background"></span> --}}
{{!-- <div class="container">
  <div class="row">
    <div class="col m4">
      <div class="section-title">What They Say</div>
    </div>

    <div class="row col m8 container-thought"> --}}
      {{!-- <span class="thought-box"></span> --}}
      {{!-- {{#each model as |thought idx|}}

        <div class="col s12 m6 thought-content {{if (gte idx 3) "hide-on-small-only"}}">
          <div class="image">
            <img src={{thought.thumbThought}} alt="Photo" class="responsive-img">
          </div>

          <h5 class="display tooltip" data-tooltip={{thought.name}}>{{thought.name}}</h5>
          <p>{{thought.thought}}</p>
        </div>

      {{/each}}
    </div>
  </div> --}}
{{!-- </div> --}}
