<div class="container">
  <div class="row">
    <h2 class="section-title center">Available Jobs</h2>

    {{#each jobs as |job|}}
      <div class="col s12 m6 l4">

        <div class="card">
          <div class="card-image">
            <div class="image">
              <img src={{job.thumbJob}} alt="Job Image" class="responsive-img">
            </div>
          </div>
          <div class="card-content">
            <span class="title">{{truncate job.name}}</span>
          </div>
          <div class="card-action">
            {{#link-to "jobs.view" job.id class="btn waves-effect waves-light detail"}}Learn More{{/link-to}}
          </div>
        </div>

      </div>
    {{else}}

      <div class="not-found">
        <p>We are so sorry that the position you are looking for is currently not available.</p>
        <img src="./assets/images/sad-fox.png" alt="Sad Fox" width="200">
        <p class="text-bold"><big>But please don't give up just yet!</big></p>
        <p>You can always look for <a href="./jobs" class="text-bold" {{action clear}}>other positions available</a> or just <span class="text-bold">stalk us</span> at the links below to receive updates on our new position.</p>
      </div>

    {{/each}}

  </div>

  {{#unless isEnd}}
    <button class="btn waves-effect waves-light more" {{action more}}>View More {{icon "arrow_downward"}}</button>
  {{/unless}}

</div>
