<div class="container">
  <h2 class="section-title center">Working at IT BCA</h2>

  <div class="row">
    <div class="col m6 image-box">
      <span class="image-container-left image-1"></span>
      {{!-- <img src="assets/images/1-BIT.png" alt=""> --}}
    </div>
    <div class="col m6 text-box">
      <span class="lines-1 bg-cover"></span>
      <div class="text-container-right">
        <div class="top-text">Open Space Environment</div>
        <div class="bottom-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="col m6 text-box">
      <span class="lines-2 bg-cover"></span>
      <div class="text-container-left">
        <div class="top-text left-side">Flexible Working Hours</div>
        <div class="bottom-text left-side">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="col m6 image-box">
      <span class="image-container-right image-2"></span>
      {{!-- <img src="assets/images/1-BIT.png" alt=""> --}}
    </div>
    <div class="col m6 image-box">
      <span class="image-container-left image-3"></span>
      {{!-- <img src="assets/images/1-BIT.png" alt=""> --}}
    </div>
    <div class="col m6 text-box">
      <span class="lines-3 bg-cover"></span>
      <div class="text-container-right">
        <div class="top-text">Smart Casual Attire</div>
        <div class="bottom-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>

    {{!-- {{#each model as |article|}}
      <div class="col s12 m4">

        <div class="card">
          <div class="card-image">
            <div class="image"><img alt="thumb" src={{article.thumbImage}}></div> --}}
            {{!-- <span class="card-title text-heading">Article Title {{sum idx}}</span> --}}
          {{!-- </div>
          <div class="card-content">
            <p>
              <span class="date mb-2">{{date article.date}}</span>
              <span class="title">{{article.title}}</span>
            </p>
          </div>
          <div class="card-action hide-on-small-only">
            {{#link-to "articles.view" article.id}}Read More{{icon "arrow_forward"}}{{/link-to}}
          </div>
          {{#link-to "articles.view" article.id class="card-cover hide-on-med-and-up"}}{{/link-to}}
        </div>

      </div>
    {{/each}} --}}

  </div>
</div>
