<div class="container">
  <h2 class="section-title center">Recent Articles</h2>

  <div class="row">

    {{#each model as |article|}}
      <div class="col s12 m4">

        <div class="card">
          <div class="card-image">
            <div class="image"><img alt="thumb" src={{article.thumbImage}}></div>
            {{!-- <span class="card-title text-heading">Article Title {{sum idx}}</span> --}}
          </div>
          <div class="card-content">
            <p>
              <span class="date mb-2">{{date article.date}}</span>
              <span class="title">{{article.title}}</span>
            </p>
          </div>
          <div class="card-action hide-on-small-only">
            {{#link-to "view-article" article.id}}Read More{{icon "arrow_forward"}}{{/link-to}}
          </div>
          {{#link-to "view-article" article.id class="card-cover hide-on-med-and-up"}}{{/link-to}}
        </div>

      </div>
    {{/each}}

  </div>
</div>
