<div class="container">
  <h2 class="section-title center">Recent Articles</h2>

  <div class="row hide-on-small-only">
    {{#each model as |article|}}
      <div class="col m4">

        <div class="card">
          <div class="card-image">
            <img alt="thumb" src={{article.thumbImage}}>
            {{!-- <span class="card-title text-heading">Article Title {{sum idx}}</span> --}}
          </div>
          <div class="card-content">
            <p>
              <span class="date mb-2">{{date article.date}}</span>
              <span class="title">{{article.title}}</span>
            </p>
          </div>
          <div class="card-action">
            {{#link-to "view-article" article.id}}Read More{{icon "arrow_forward" class="ml-2"}}{{/link-to}}
          </div>
        </div>

      </div>
    {{/each}}
  </div>

  {{!-- <div class="carousel carousel-slider hide-on-large-only">
    {{#each model as |article|}}
      <div class="carousel-item">

        <div class="card">
          <div class="card-image">
            <img alt="thumb" src={{article.thumbImage}}>
          </div>
          <div class="card-content">
            <p>
              <span class="date mb-2">{{date article.date}}</span>
              <span class="title">{{article.title}}</span>
            </p>
          </div>
          <div class="card-action">
            {{#link-to "view-article" article.id}}Read More{{icon "arrow_forward" class="ml-2"}}{{/link-to}}
          </div>
        </div>

      </div>
    {{/each}}
  </div> --}}
</div>
