<div class="ornaments">
  <span class="ornament ornament-1"></span>
  <span class="ornament ornament-2 hide-on-small-only"></span>
</div>

<div class="container">
  <h2 class="main-title">Recent Articles</h2>
  <div class="row">
    <div class="slider-photo">
      <img src={{showModel.thumbImage}} alt="">
      <div class="container-indicator">
        <div class="left">
          <button class="waves-effect waves-black content-indicator icon-left" {{action "moveToPrev"}}>
            <i class="material-icons icon-style">chevron_left</i>
          </button>
        </div>

        <div class="right">
          <button class="waves-effect waves-black content-indicator icon-right" {{action "moveToNext"}}>
            <i class="material-icons icon-style">chevron_right</i>
          </button>
        </div>
      </div>
    </div>
    <div class="slider-content">
      <div class="content-title">
        {{showModel.title}}
      </div>
      <div class="content-bottom">
        <div class="row">
          <div class="content-date">
            <span class="date">{{date showModel.date}}</span>
          </div>
          <div class="slider-action">
            {{#link-to "articles.view" showModel.id}}
              Read More{{icon "arrow_forward" class="ml-2 hide-on-small-only"}}
            {{/link-to}}
          </div>
        </div>
      </div>
    </div>
    <ul class="indicators">
      <li id="indicator-0" class="indicator-item active"></li>
      <li id="indicator-1" class="indicator-item"></li>
      <li id="indicator-2" class="indicator-item"></li>
      <li id="indicator-3" class="indicator-item"></li>
      <li id="indicator-4" class="indicator-item"></li>
      <li id="indicator-5" class="indicator-item"></li>
    </ul>
  </div>
</div>
