<div class="container">
  <h2 class="title">JOBS</h2>

  <div class="row mb-0">

    <div class="input-field col s12 m4">
      {{!-- <select onchange={{action "selectSpecialization" value="target.value"}}> --}}
      {{#input/input-select value=specialization placeholder="Specialization"}}
      <option value="programmer">Programmer</option>
      <option value="network">Network</option>
      <option value="data">Data</option>
      <option value="infrastructure">IT Infrastructure</option>
      {{/input/input-select}}
      {{!-- </select> --}}
    </div>

    <div class="input-field col s12 m4">
      {{!-- <select onchange={{action "selectLocation" value="target.value"}}> --}}
      {{#input/input-select value=location placeholder="Location"}}
      <option value="jabodetabek">Jabodetabek</option>
      <option value="surabaya">Surabaya</option>
      <option value="yogyakarta">Yogyakarta</option>
      {{/input/input-select}}
      {{!-- </select> --}}
    </div>

    <div class="input-field col s12 m4">
      <button class="btn btn-large clear" {{action clear}}>Clear Filter{{icon "close" class="right"}}</button>
    </div>
  </div>
  {{!-- <p>{{icon "format_quote"}}Where there's a will, there's a way.{{icon "format_quote"}}</p> --}}
</div>